<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>checkPrimeNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE50CF6C1EC7284300ED3986</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE50CF801EC7284400ED3986</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE50CF8B1EC7284400ED3986</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
