<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>polymorhsm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE44D2F71EC246A30029CF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE44D3101EC246A40029CF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE44D31B1EC246A40029CF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
