<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>keyChainSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE44D3FD1EC317F70029CF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE44D4191EC317F70029CF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE44D4241EC317F70029CF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
